<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.1" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
  <tlib-version>1.0</tlib-version>
  <short-name>patterns</short-name>
  <uri>http://saemm.gob.mx</uri>
  <function> 
     <name>validarCurp</name> 
     <function-class>tol.sesaemm.funciones.ExpresionesRegulares</function-class> 
     <function-signature>boolean validarCurp(java.lang.String) </function-signature> 
  </function>
  <function>
     <name>validarRfcPF</name> 
     <function-class>tol.sesaemm.funciones.ExpresionesRegulares</function-class> 
     <function-signature>boolean validarRfcPF(java.lang.String) </function-signature> 
  </function> 
  <function>
     <name>validarRfcPM</name> 
     <function-class>tol.sesaemm.funciones.ExpresionesRegulares</function-class> 
     <function-signature>boolean validarRfcPM(java.lang.String) </function-signature> 
  </function> 
</taglib>
